body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px #00b4;
}

.header .show-login {
  font-size: 16 px;
  text-decoration: none;
  color: #000;
  background: none;
  cursor: pointer;
  display: flex;
  padding: 5px;
}

.header .show-login img {
  margin-right: 8px;
  height: 20px;
}

.header .title {
  font-size: 24px;
  margin: 0;
}

button {
  border: 2px solid #00b4cc;
  color: white;
  background-color: #00b4cc;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* body */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px #00b4;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.container.unactive {
	visibility: hidden;
}

.abc {
  display: inline-block;
  background-color: #00b4cc;
  color: white;
  padding: 10px 10px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}


.text {
  padding: 10px;
  margin: 10px;
}

.text p {
  font-size: 1rem;
}

/*pop up sign in*/

.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 350px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  border-radius: 10px;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  clear: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 15px 0px;
}

.popup .form .form-element .view-label {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: left;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 95%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: left;
}

.checkbox-container label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element button {
  width: 102%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.popup .form .form-element a {
  display: inline;
  font-size: 14px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
  padding: 20px;
}

.popup .form .form-element a:first-child {
  color: #204b71;
  text-align: left;
}

.popup .form .form-element a:last-child {
  color: #1a79ca;
  text-align: right;
}

/*pop up sign up*/

.popup-sign-up {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 350px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-sign-up.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  border-radius: 10px;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup-sign-up .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #888;
  clear: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-sign-up .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup-sign-up .form .form-element {
  margin: 15px 0px;
}

.popup-sign-up .form .form-element .view-label {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: left;
}

.popup-sign-up .form .form-element input[type="text"],
.popup-sign-up .form .form-element input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 95%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  justify-content: left;
}

.checkbox-container label {
  font-size: 14px;
  color: #222;
}

.popup-sign-up .form .form-element button {
  width: 102%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.popup-sign-up .form .form-element a {
  display: inline;
  font-size: 14px;
  color: #1a79ca;
  text-decoration: none;
  font-weight: 600;
  padding: 17px;
}

.popup-sign-up .form .form-element a:first-child {
  color: #204b71;
  text-align: left;
}

.popup-sign-up .form .form-element a:last-child {
  color: #1a79ca;
  text-align: right;
}

/*------------------------*/

/* Style cho button */

.dropbtn {
  background-color: #00b4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Container <div> - cần thiết để định vị menu sổ xuống */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links bên trong dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hiển thị dropdown nội dung khi nó được hiển thị */

.dropdown-content.show {
  display: block;
}

/* Quản lý file đã convert */
.manage-container {
  width: 80%;
  height: 75%;
  position: absolute;
  top: 55%;
  left: 50%;
  margin: 0 auto;
  padding: 20px 20px;
  box-shadow: 0 0 15px #00b4;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 20px; 
}

.manage-container__header {
	display: flex;
	justify-content: space-between;
}

.manage-container__title {
	font-size: 1.9rem;
	margin: 0px 20px;
}

.manage-container__action {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
	margin-right: 46px;
	visibility: hidden;
}

.manage-container__action.manage-container__action-active {
	visibility: visible;
}

.manage-container__table {
	margin-top: 30px;
	height: 505px;
	overflow: auto;
}

.styled-table {
    width: 100%;
}

.styled-table thead {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.styled-table thead tr {
    text-align: center;
    background-color: #00b4;
}

.styled-table th {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    color: #212b36;
}

.styled-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #f1f5f9;
}

.styled-table td {
    padding: 12px 24px;
    color: #161c24;
    font-size: 1rem;
    font-weight: 400;
}

.table-td-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.table-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #00b4;
}

.table-btn-icon {
    transition: all 0.2s ease-in-out;
}

.table-footer {
    padding: 12px 24px;
    border-top: 1px solid #ccc;
}

.delete-btn:hover{
	background-color: red;
	transition: all 0.2s ease-in-out;
}

.download-btn:hover {
	background-color: green;
	transition: all 0.2s ease-in-out;
}

/* Scroll */
.manage-container__table::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

.manage-container__table::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.manage-container__table::-webkit-scrollbar-thumb {
  background-color: #d2d2f8;
  border-radius: 5px;
  opacity: 0.5;
}

.manage-container__table::-webkit-scrollbar-thumb:hover {
  background-color: #8282dc;
}

/* POPUP */
.popup {
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 450px;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
  font-weight: 500;
  font-size: 1.4rem;
}

.popup.active {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.25);
  border-radius: 10px;
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
}

.popup__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-delete {
  width: 220px;
  font-size: 1.2rem;
}

.popup-download {
  width: 250px;
  font-size: 1.2rem;
}

.popup__action {
	display: flex;
	column-gap: 20px;
}

.popup-delete p, .popup-download p {
	margin-bottom: 15px;
	margin-left: 10px;
}

/* Modal */

.modal {
  position: fixed;
  inset: 1;
  display: flex;
  background: rgb(155 154 154 / 15%);
  visibility: hidden;
}

.modal.active {
  inset: 0;
  visibility: visible;
}

/* LOADING */
.modal .body
{
  	padding:0; 
  	width: 440px;
  	margin: auto;
  	width: 538px;
    margin: auto;
    height: 341px;
  	border-radius: 10px;
}

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size: 0.8rem;
  color:#00b4cc;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #00b4cc;
  box-shadow:0 0 20px #10d0ea;
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #00b4cc;
  border-right:3px solid #00b4cc;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#00b4cc;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #00b4cc;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}